body{
    background-image: url(https://mir-s3-cdn-cf.behance.net/projects/max_808/91653637484437.Y3JvcCwxNTU4LDEyMTksMiw1.jpg);
    background-repeat: no-repeat;
    background-position: left;  
    background-size: 1000px;
}
